/* Container Elements */
body {
    background-color: rgb(240, 240, 240);
    color: black;
    font-family: 'Fira Sans', sans-serif;
}

header {
    border-top: none;
    margin-bottom: 0;
    margin-top: 0;
}

header, main {
    border: 6px solid black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
    width: 500px;
    padding: 10px;
    transition: all 0.3s;
}

main {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/* Visual Elements */
h1, h2 {
    font-family: 'Kanit', sans-serif;
}

/* Interactive Elements */
button {
   background-color: rgb(240, 240, 240);
   border: 3px solid black;
   border-top: none;
   color: black;
   cursor: pointer;
   margin: 5px;
   padding: 2.5px;
   transition: all 0.3s;
}

button.main {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-top: 0;
    width: 100px;
}

button:hover {
    background-color: rgb(200, 200, 200);
}

button:active {
    background-color: rgb(230, 230, 230);
    transition: none;
}

.disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }