/* Modify elements for smaller screens with the below classes */
@media (max-width: 532px) {
    .fullSpan {
        width: 100%;
        border: none;
        border-radius: 0;
        padding-left: 0;
        padding-right: 0;
    }
    header.fullSpan {
        background-color: black;
        color: white;
    }
    footer.fullSpan {
        background-color: rgb(175, 175, 175);
    }
    nav.fullSpan {
        background-color: rgb(175, 175, 175);
        padding: 0;
        transition: all 0.3s;
    }
    /* Default Button Styles */
    button, button.main {
        background-color: rgb(175, 175, 175);
        border: none;
        border-radius: 0;
        margin: 0;
        width: 105px;
    }
    button:hover {
        background-color: rgb(175, 175, 175);
    }
    button:active {
        background-color: rgb(220, 220, 220);
    }
    /* Default Select Styles */
    select {
        background-color: rgb(175, 175, 175);
        border: none;
        border-radius: 0;
        margin: 0;
        width: 105px;
    }
    select:hover {
        background-color: rgb(175, 175, 175);
    }
    select:active {
        background-color: rgb(220, 220, 220);
    }
}